{{- /* Fecha en español. Recibe (dict "d" "2026-03-05" "fmt" "corta"|"mes"). */ -}}
{{- $t := time.AsTime .d -}}
{{- $meses := slice "enero" "febrero" "marzo" "abril" "mayo" "junio" "julio" "agosto" "septiembre" "octubre" "noviembre" "diciembre" -}}
{{- $m := index $meses (sub (int $t.Month) 1) -}}
{{- if eq .fmt "mes" -}}
  {{- return (printf "%s %d" ($m | strings.FirstUpper) $t.Year) -}}
{{- else -}}
  {{- $anio := "" -}}
  {{- if ne $t.Year now.Year -}}{{- $anio = printf " %d" $t.Year -}}{{- end -}}
  {{- return (printf "%d %s%s" $t.Day (substr $m 0 3) $anio) -}}
{{- end -}}
